//team-wrapper
.team-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    .team-thumb {
        position: relative;
        z-index: 1;
        margin-bottom: 38px;
        display: inline-block;
        img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: inline-block;
        }
        &::before {
            content: "";
            border-radius: 50%;
            background-color: $theme-color2;
            position: absolute;
            left: 0;
            top: 0;
            width: 80px;
            height: 80px;
            z-index: -1;
        }
        &::after {
            content: "";
            border-radius: 50%;
            background-color: $violet;
            position: absolute;
            right: 3px;
            top: 59px;
            width: 80px;
            height: 80px;
            z-index: -1;
            @include transition(0.3s);
        }
    }
    h6 {
        color: $theme-color2;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 7px;
    }
    .theme-col {
        color: $body-text-color;
    }
    &:hover {
        .team-thumb {
            &::after {
                right: -25px;
            }
        }
    }
}

//team-icon-wrapper
.team-icon-wrapper {
    bottom: 17px;
    position: absolute;
    right: 7px;
    transition: 0.3s;
    .team-icon {
        text-align: center;
        transition: 0.3s;
        padding: 0;
        opacity: 1;
        background-image: -moz-linear-gradient(0deg, rgb(67, 186, 255) 0%, rgb(113, 65, 177) 100%);
        background-image: -webkit-linear-gradient(0deg, rgb(67, 186, 255) 0%, rgb(113, 65, 177) 100%);
        background-image: -ms-linear-gradient(0deg, rgb(67, 186, 255) 0%, rgb(113, 65, 177) 100%);
        @include transition(0.3s);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        a {
            font-size: 14px;
            transition: 0.3s;
            display: inline-block;
            text-align: center;
            line-height: 33px;
            border-radius: 50%;
            color: white;
            padding: 0 7px;
            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                opacity: 0;
                display: none;
                @include transition(0.3s);
            }
            &.plus {
                color: $heding;
                border-radius: 50%;
                background-color: $white;
                box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
                position: relative;
                z-index: 1;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                display: inline-block;
            }
        }
        &:hover {
            padding: 0 0 0 9px;
            a {
                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    opacity: 1;
                    display: inline-block;
                }
                &:last-child {
                    color: $white;
                    background: transparent;
                }
            }
        }
    }
}

//team-area2
.team-area2 {
    .team-wrapper {
        padding-left: 0;
        .team-thumb {
            &::before {
                background-image: -moz-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                background-image: -webkit-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                background-image: -ms-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            }
            &::after {
                background-image: -moz-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                background-image: -webkit-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                background-image: -ms-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            }
        }
        .team-icon {
            background-image: -moz-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            background-image: -webkit-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            background-image: -ms-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
        }
        .team-content {
            padding-left: 12.6%;
            @media #{$xl} {
                padding-left: 0;
                text-align: center;
            }
            @media #{$laptop} {
                padding-left: 0;
                text-align: center;
            }
            @media #{$lg} {
                padding-left: 0;
                text-align: center;
            }
            @media #{$md} {
                padding-left: 0;
                text-align: center;
            }
            @media #{$xs} {
                padding-left: 0;
                text-align: center;
            }
        }
    }
}

//adress-box
.adress-box {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    .icon-link {
        width: 54px;
        height: 54px;
        background: $white;
        border: 2px solid rgb(244, 244, 244);
        text-align: center;
        line-height: 54px;
        margin-right: 20px;
        margin-top: 5px;
        border-radius: 6px;
        i {
            color: rgb(8, 106, 216);
            font-size: 16px;
        }
    }
}

//team-skill-wrapper
.team-skill-wrapper {
    .teams-title {
        margin-bottom: 42px;
    }
}
//comic-progress-bar
.comic-progress-bar {
    .p-title {
        margin-bottom: 2px;
    }
    .progress {
        height: 19px;
        background-color: transparent;
        border-radius: 0;
        border-bottom: 2px solid rgb(236, 236, 236);
        overflow: visible;
        width: 100%;

        .progress-bar {
            color: #777777;
            font-size: 18px;
            font-weight: 400;
            background-image: -moz-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            background-image: -webkit-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            background-image: -ms-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
            width: 70%;
            height: 10px;
            margin-top: 12px;
            margin-left: 0;
            overflow: visible;
            position: relative;
            span {
                -webkit-background-clip: text;
                background-image: -moz-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                background-image: -webkit-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                background-image: -ms-linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
                text-align: right;
                margin-top: -52px;
                position: absolute;
                right: -140px;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.teams-title {
    font-size: 26px;
}

//team-bot-border
.team-bot-border {
    border-bottom: 1px solid rgb(232, 232, 232);
}

.border-img {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

//certifacate-list
.certifacate-list {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    padding-right: 16px;
    @media #{$laptop} {
        padding-right: 0;
    }
    @media #{$lg} {
        padding-right: 0;
    }
    li {
        @media #{$xs} {
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
    }
}
